<body class="d-flex flex-column">
  <footer id="sticky-footer" class="py-4 bg-success text-white">
    <div class="container text-center">
      <small>Copyright &copy; TransPlant</small>
    </div>
  </footer>
</body>