<main id="home">
    <h1>TransPlant</h1>

    <div class="hero"></div>

        <ul>
           <li><%= link_to "Home", root_path %></li>
           <li><%= link_to "Shop", plants_path %></li>
           <li><%= link_to "Sell", new_plant_path %></li>
           <li><%= "Login" %></li> 
        </ul>
