<div class="container-fluid home">
  <div><%= image_tag("forest-1.jpg", class: "card-img-top stretched-link image", alt: "image of plant") %>
  </div>
  <div class="card-body">
    <p class="card-text">Welcome to TransPlant - the place where anyone can buy and sell indoor plants.</p>
  </div>
</div>