<div class = "navbar_body">
    <%= render "navbar", plant: @plant, user: @user, address: @address %>
    <h2>TransPlant is the place to buy and sell indoor plants - because everybody should have more plants in their home and office.</h2>
</div>
<%= render "footer" %>