
  <div class="background-container">
    <div class="home-container">
      <h2 class="home-heading">
        Welcome to <span id="span-style">TransPlant</span>
      </h2>
      <h6 class="home-subheading">
        The place to buy and sell plants - because we could all use more plants in our homes and offices.
      </h6>
      <div class="tiles">
        <div class="home-card">
        <%= link_to "Make your space greener - buy plants", plants_path %>
        </div>
        <div class="home-card">
        <%= link_to "Love growing pants? Make some cash on the side - sell your plants", new_plant_path %>
        </div>
      </div>
    </div>
  </div>
