
<div class="card mb-3" style="max-width: 668px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <%= image_tag "rainforest-1.jpg", class: "card-img", alt: "palm leaf rainforest" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-text">TransPlant is the place to buy and sell indoor plants - because everybody should have more plants in their home and office.</h5>
      </div>
    </div>
  </div>
</div>