body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 72px;
}

.card-columns {
    margin: 10px;
}

h4 {
    text-align: center;
}

.flash {
    text-align: center;
    padding: 15px;
}

form {
    padding: 15px 30px 15px 30px;
    .form-check{
        padding: 0px 10px 30px 30px;
    }

}

.links {
    padding: 0px 30px 30px 30px;
}

.card-body {
    .buy {
        margin: 10px 0px;
    }
    .edit {
        color: white;
    }
}

.card {
    .image {
        max-width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.container-fluid {
    padding-bottom: 15px;
}

.create_listing {
    margin: 0px 10px;
}