.background-container {
    // background-image: url(/assets/images/forest-1.jpg) no-repeat center center fixed;
    background-image: url(image-path("background-2b.jpg"));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding-bottom: 72px;
    .home-container{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        .home-heading, {
            text-align: center;
            margin: 50px 50px 5px 50px;
            padding: 20px;
        }
        .home-subheading{
            text-align: center;
            margin: 5px 50px;
            padding: 20px;
        }

        .link-to a:link, .link-to a:visited, .link-to a:hover, .link-to a:active  {
            text-decoration: none;
            color: white;
        }

        .tiles{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            margin: 5px 50px;
            .home-card{
                background-color: rgba(59, 113, 163, 0.8);
                font-weight: bold;
                height: 150px;
                width: 250px;
                padding: 40px 30px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: center; 
                text-decoration: none;
            }
        }
    }
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 72px;
}

.card-columns {
    margin: 25px;
}

h4 {
    text-align: center;
}

.flash {
    text-align: center;
    padding: 15px;
}

form {
    padding: 15px 30px 15px 30px;
    .form-check{
        padding: 0px 10px 30px 30px;
    }

}

.links {
    padding: 0px 30px 30px 30px;
}

.card-body {
    .buy {
        margin: 10px 0px;
    }
    .edit {
        color: white;
    }
}

.card {
    .image {
        max-width: 400px;
        margin: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}

.container-fluid {
    padding: 15px;
    .profile {
        margin: 10px;
    }
    .title {
        margin-left: 10px;
    }
}

.create_listing {
    margin: 0px 10px;
}

.create_form, .show-plant {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.show-plant {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    h4 {
    text-align: center;
    margin: 15px;
    }

    h5 {
        margin: 15px;
    }

    h6 {
        text-align: center;
        margin: 15px;
        }
}

.user_profile {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    .listing-headings {
        margin: 20px 30px;
    }
}